/* Copyright CyberNET 2019 */
/* Author: WildZoub */
:root {
  --darkred: #110000;
  --lightred: #ff0000;
  --darkgreen: #001100;
  --lightgreen: #00ff00;
  --darkblue: #000011;
  --lightblue: #0000ff;
}
